[2016-04-10 17:40] JacqueDouglas opened #3 "ESP8266 Floating Point"
There seems to be a problem sending floating point numbers with the ESP8266.

[2016-07-04 03:53] pmcdonaldgit commented on #3
Ya I am reporting the same problem. Floats and doubles can not be sent with Adafruit_IO_Feed.send(float) because the library functions for sprintf don't work with floats.

There is some note about how to turn on support for them in the standard libaries, but given the simplicty it would be nice if we could get a version of the libary that just handles the couple of instances where it is passing fl

[2016-07-07 06:12] tdicola commented on #3
Oh no problem, yeah it's unfortunate but it looks like the ESP8266 Arduino library doesn't implement all the same double to string functions as avrlibc hence the fallback to snprintf.  However it looks like at least dtostrf is there so it's good enough to put in a special case.  Just committed a fix--grab the latest code and it should send floats & doubles without issue.

One side effect though is

[2016-07-07 06:12] #3 closed

[2017-01-31 20:44] jwcooper opened #10 "io.adafruit.com SSL Certificate Expiry"
Adafruit certificates will expire in July 2017. Consider self-signed or other solutions.

Re: https://github.com/adafruit/io-issues/issues/152

[2017-01-31 20:48] #10 closed

[2017-02-06 10:42] slminneman opened #11 "Missing Header File (Adafruit_IO_Client.h) and/or restructured?"
- Arduino board:  Adafruit Huzzah ESP8266

- Arduino IDE version (found in Arduino -> About Arduino menu):  1.65

- List the steps to reproduce the problem below (if possible attach a sketch or
  copy the sketch code in too):  The "trigger" example references the header file Adafruit_IO_client.h, but no such thing appears to be present anywhere.  The structure of the file name is similar to other

[2017-03-23 00:08] tsalmela commented on #11
My work ended to same problem. "Adafruit_IO_Client.h: No such file or directory"
There seems to be no such file here.

Was able to find one project with that file but can't get it to work with my project: https://github.com/nicjansma/dht-logger

[2017-03-24 03:32] MrSteve2 opened #12 "Adafruit_IO_Arduino/src/AdafruitIO.h:16:27: fatal error: Adafruit_MQTT.h: No such file"
Nevermind found the issue and it was me. Doh!

[2017-04-11 13:40] #12 closed

[2017-04-11 13:43] toddtreece commented on #11
@slminneman please use v1.0.1 for the trigger example:

<img width="235" alt="screen shot 2017-04-11 at 9 43 12 am" src="https://cloud.githubusercontent.com/assets/360020/24912168/5b885736-1e9b-11e7-8885-882e6de7bd62.png">

[2017-04-11 13:43] #11 closed

[2017-05-04 00:01] AntiPortalSci101 opened #14 "The example code does not compile."
- Arduino board:  Arduino uno

- Arduino IDE version: 1.6.5

- List the steps to reproduce the problem below (if possible attach a sketch or
  copy the sketch code in too):
I compiled the adafrutio_03_multiple_feeds library, following the instructions within, and it did not compile. Please make sure all the example code itself can compile, and clearly enumerate any dependancies or external librari

[2017-07-27 13:46] ememberus commented on #14
Similar or identical issue:
- Arduino board: HUZZAH ESP8266
- Arduino IDE: 1.8.1
- Example project: adafrutio_03_multiple_feeds
- build error message: ArduinoHttpClient.h: No such file or directory

[2017-07-27 14:12] jwcooper commented on #14
Hi, you need to install the ArduinoHttpClient library:
https://github.com/adafruit/Adafruit_IO_Arduino#adafruit-feather-huzzah-esp8266--adafruit-huzzah-esp8266-breakout

[2017-07-27 14:12] #14 closed

[2017-08-30 14:23] biagiom opened #15 "Found some issues of AdafruitIO Arduino library"
Hi Adafruit team,

I have found some issues about the AdafruitIO Arduino library:
* the AdafruitIO_Ethernet class supports only the Ethernet2 library but I think the user should have the possibility to use the Ethernet library too, so I have added some changements to allow the user to select the appropriate library version (see [my repo](https://github.com/biagiom/Adafruit_IO_Arduino/blob/a4b91e10

[2017-08-30 15:14] biagiom commented on #15
Update:
I have tested again the the adafruitio_10_dashboard_creation sketch and I confirm that application/x-www-form-urlencoded mime type works.

[2017-08-31 14:39] abachman commented on #15
Thanks for the issue + branch! I'll take a look at your changes and see what we can incorporate.

Unfortunately, when we use `http://` or `mqtt://` instead of the secure formats, the key is insecure regardless of where we send it, header or query. I expect our eventual "solution" to that problem to be per-device, limited-access tokens. There's isn't much else we can do except wait for hardware to

[2017-09-28 02:56] j15e opened #16 "Group feeds not working?"
Board : ESP8266 Feather Huzzah 12S
Sketches : https://gist.github.com/j15e/2a91c09f8e4a0a12a187e32fee770615

The `group.c` is not receiving any message whereas `single-feed.c` works as expected. I also have try to set / publish a value and it doesn't work via the group class either.

I do have the feed `pump` setup in the `garden` group (I think?) ;

<img width="658" alt="capture d ecran 2017-09-2

[2017-10-29 17:43] sommersoft commented on #16
I know this is a month old, and I'm surprised that there hasn't been a response yet. Everything looks like you've set it up correctly.

Are you adding data on the AIO website while your code is running, or are you relying on the group.c publish? I have noticed that the IO library only responds to data updates that come from dashboard blocks like the toggle switch, slider, etc. It doesn't receive (

[2017-10-29 17:53] sommersoft commented on #16
To help explain my above comment on the "parse" error, here is the Adafruit_MQTT.cpp debug information from using two different update procedures on the AIO website.

Using a slider bar to update the balance feed:
[code]
And this is one is using the "Add Data" function on the feed itself:
[code]

[2017-11-03 01:51] sommersoft commented on #16
Seems that today's update on feed & group topics has fixed this particular problem (at least for what I posted).

Here is the new result when using "Add Data" on the AIO website:
[code]

See here for the changelog: [Groups, Feeds, and Proper MQTT Topics](https://io.adafruit.com/blog/notebook/2017/11/02/groups-feeds-and-fixing-mqtt-topics/)

j15e, can you confirm if your issue is resolved?

[2017-11-03 15:57] j15e commented on #16
Hi! Thanks for looking into my issue! I moved to using non-grouped feeds for now but I am glad to hear this is fixed!

[2018-01-14 18:25] eighthree commented on #16
Using an ESP32 Feather I too was getting issues using group feeds and reverted back to singles.

Here's what I've got:
`Decoding 9 results
0x400d2b18: AdafruitIO_Group::call(AdafruitIO_Data*) at C:\Users\eight\Documents\Arduino\libraries\Adafruit_IO_Arduino\src/AdafruitIO_Group.cpp line 320
0x400d2b18: AdafruitIO_Group::call(AdafruitIO_Data*) at C:\Users\eight\Documents\Arduino\libraries\Adafruit_

[2018-02-08 17:52] fcojocaru opened #20 "AdafruitIO_WiFi: start_ssl_client() goes in infinite loop if the AP disconnects"
Arduino board:  Adafruit HUZZAH32 – ESP32 Feather Board
Arduino IDE version (found in Arduino -> About Arduino menu):  1.8.5

**Story:**
I am using the Adafruit IO Temperature & Humidity Example , slightly modified ( see below )
1) Temperature and humidity come from a BME280 so the include looks like:
===
[code]
===

**Issue:**
A variable number of minutes after powering up the board ( but rarely

[2018-02-17 16:05] cahenesy opened #21 "Memory leak in save() ?"
- Arduino board:  Adafruit Huzzah Feather (ESP8266)
- Arduino IDE version (found in Arduino -> About Arduino menu): 1.8.5
- List the steps to reproduce the problem below (if possible attach a sketch or
  copy the sketch code in too):

I have found that when I create a feed (example):
AdafruitIO_Feed *systemBatteryVoltageFeed = io.feed("system-battery-voltage");

And then in my loop() I save a valu

[2018-02-17 19:22] rdmrocha commented on #21
This explains the leak I'm also seeing on my implementation. Managed to fix it on my side. Will create a pull request ;)

[2018-02-17 19:41] cahenesy commented on #21
Your patch fixed it for me.  Thanks!

[2018-02-22 20:21] #21 closed

[2018-04-10 16:50] jwcooper opened #23 "Update legacy guides to use this library"
Examples:
https://learn.adafruit.com/remote-control-with-the-huzzah-plus-adafruit-io

https://learn.adafruit.com/remote-controlled-door-lock-using-a-fingerprint-sensor-and-adafruit-io/setting-up-the-fingerprint-sensor

Add more to this as they are found.

[2018-06-04 17:29] brentru commented on #23
I'll pick this up, thanks!

[2018-06-04 19:58] brentru commented on #23
Legacy Guides + Actions (checking off as I go...)
- [ ] Remote Control with Huzzah + Adafruit IO -> Adafruit IO Arduino Library
- [ ] Remote Controlled Fingerprint Lock
- [ ] Code -> https://github.com/adafruit/Adafruit_Learning_System_Guides

[2018-06-18 20:46] brentru opened #26 "Travis Integration"
This library is older, let's add travis-ci to it like our newer ones.

[2018-06-18 20:46] brentru commented on #26
reflected in PR #25

[2018-06-19 16:15] #15 closed

[2018-06-19 20:48] brentru opened #34 "Issue with call to get()"
Calls to analog->get() crash serial monitor (M0 WiFi) and reset ESP32

- Arduino board:  Feather M0 WiFi, Feather HUZZAH ESP82

- Arduino IDE version (found in Arduino -> About Arduino menu):  1.8.5

- List the steps to reproduce the problem below:
-> Arduino -> File -> Examples -> Adafruit IO -> _adafruitio_09_analog_out_

Solution on ESP32: Removing the get() call. sketch functions normally with

[2018-06-20 16:37] #34 closed

[2018-06-21 15:21] brentru commented on #26
Closing, merged in https://github.com/adafruit/Adafruit_IO_Arduino/commit/9f8eaa152e305d32edbb6a3818b21c68b994d8b0

[2018-06-21 15:21] #26 closed

[2018-07-06 15:22] jwcooper opened #41 "Expose mqtt time helpers"
Add ability to subscribe to time topics:
time/millis
time/seconds
time/iso-8601

[2018-07-09 16:21] mkrug1 commented on #41
AWESOME!

Thank you SO MUCH.  This is Amazing.

This line of code and the following comment in the loop are conflicting...

[code]

[2018-07-09 16:24] brentru commented on #41
@mkrug1 Good catch, thank you. I forgot to remove that line, doing that right now.

[2018-07-09 16:30] brentru commented on #41
Fixed in master, closing...

[2018-07-09 16:30] #41 closed

[2018-07-10 13:56] brentru opened #43 "Resolve WiFi.h Collision Errors for ESP32"
This library's `WiFi.h` collides with the ESP32's WiFi.h (https://github.com/espressif/arduino-esp32/blob/master/libraries/WiFi/src/WiFi.h) causing either a compilation error or the compiled program to drop this WiFi.h and use the one included by EspressIF

Error output:
[code]

forum topic tracking this issue: https://forums.adafruit.com/viewtopic.php?f=56&t=138007&p=682975#p682975

[2018-07-13 20:55] brentru opened #44 "Add AIO Basics Example: Device Status"
Add sketch to include the following for device information:

--device config--
SSID
IP Addr.
MAC Addr.
Network Encryption Type
Network RX Strength
--io config--
IO User
IO isConnected

[2018-07-16 16:50] brentru commented on #44
Added in f1d9f0821606f9b3110b3112642d7a6e165c6ef3, closing...

[2018-07-16 16:50] #44 closed

[2018-07-20 03:48] Starkshub opened #45 "Adafruit IO Arduino Library Dependents - Installation"
Thank you for opening an issue on an Adafruit Arduino library repository.  To
improve the speed of resolution please review the following guidelines and
common troubleshooting steps below before creating the issue:

- **Do not use GitHub issues for troubleshooting projects and issues.**  Instead use
  the forums at http://forums.adafruit.com to ask questions and troubleshoot why
  something isn't

[2018-07-20 04:01] ladyada commented on #45
please re-open with filled out issue text

[2018-07-20 04:01] #45 closed

[2018-07-20 04:03] Starkshub commented on #45
Hello GIT Members...

Notes:
Board - Adafruit Feather 32
Sketch - Trigger
Issue - Library Dependents (install)

I am trying to use the Trigger Sketch (on the ESP32) that was written for the Huzzah 8266 Board. Some of the commands do not work with ESP32 Board and I am changing them to the commands that work with the ESP32.

When I change the include library "Adafruit_IO_Client.h" that returns an er

[2018-07-20 04:28] Starkshub opened #46 "Adafruit IO Arduino Library Dependents – Installation Problems"
Adafruit IO Arduino Library Dependents – Installation Problems

Hello GIT Members...
Notes:
Board - Adafruit Feather 32
Sketch - Trigger
Issue - Library Dependents (install)

I am trying to use the Trigger Sketch (on the ESP32) that was written for the Huzzah 8266 Board. Some of the commands do not work with ESP32 Board and I am changing them to the commands that work with the ESP32.

When I chang

[2018-07-20 05:17] Starkshub commented on #46
Additional Note:

I did use the Library Manager (Add Zip Library) when I added this Adafruit_IO_Arduino Library to my IDE.

[2018-07-20 19:56] brentru commented on #46
Hi @Starkshub - you mentioned you were using the trigger sketch. Which sketch within the examples directory (https://github.com/adafruit/Adafruit_IO_Arduino/tree/master/examples) would that be?

Could you try [installing from the Arduino Library manager](https://learn.adafruit.com/welcome-to-adafruit-io/libraries#installation), instead of installing from git?

[2018-07-20 21:12] Starkshub commented on #46
Hi Brentru...

Thank you for your help.

1) The Trigger Sketch is based on an example from an Adafruit Learning Module:

https://learn.adafruit.com/using-ifttt-with-adafruit-io/arduino-code-1

2) The actual Sketch is based on the 8266 board example found at the following GIT Link:

https://github.com/adafruit/adafruit-io-basics

3) I did check my Library Manager and updated the Adafruit IO Arduino

[2018-07-23 13:51] brentru commented on #46
Ah, that repository is super old (and should be archived...).

Try using one of the sketches included with this library instead, they work V2 of the Adafruit IO API and I fixed a few of them to work with the ESP32: https://github.com/adafruit/Adafruit_IO_Arduino/tree/master/examples

[2018-08-01 13:52] brentru commented on #46
Hey @Starkshub: I've brought the[ Adafruit IO + IFTTT Guide](https://learn.adafruit.com/using-ifttt-with-adafruit-io?view=all#arduino-code-2) code section up to date.

New Code:
https://github.com/adafruit/Adafruit_Learning_System_Guides/tree/master/IFTTT_Door_Detector

Closing...

[2018-08-01 13:52] #46 closed

[2018-08-01 13:54] brentru opened #47 "Update Library to support Feed Sharing"
Add in support for new feed sharing feature of Adafruit IO

https://blog.adafruit.com/2018/07/31/adafruitio-new-feature-launch-feed-sharing/

[2018-08-01 15:18] supuflounder opened #48 "Removing errors and some warnings from build"
- Arduino board:  Feather HUZZAH32 (Adafruit #3405)

- Arduino IDE version (found in Arduino -> About Arduino menu):  1.8.5

- List the steps to reproduce the problem below (if possible attach a sketch or
  copy the sketch code in too): Build a project that uses Adafruit IO on a HUZZAH32

Here are the changes I made:
![screen shot 2018-08-01 at 10 54 38 am](https://user-images.githubusercontent.co

[2018-08-02 11:03] supuflounder opened #49 "Group IO causes crashes when run"
- Arduino board:  **Feather HUZZAH32**

- Arduino IDE version (found in Arduino -> About Arduino menu):  **1.8.5**

- List the steps to reproduce the problem below (if possible attach a sketch or
  copy the sketch code in too):

Build **Adafruit_11_group_pub** and watch it crash and burn when executed (not to mention the huge number of warnings caused by unused local variables, etc. and syntactic

[2018-08-02 11:09] supuflounder opened #50 "Strange mix of malloc and new"
While this is not an actual error, it does not represent Best Practice in C++ programming.  In a number of places, such as in **AdafruitIO_Group::_init**, both **malloc** and **new** are used.  The use of bare **malloc** in C++ is frowned upon.  It is normally hidden inside the **new** operator.  What is odd is that the computations are of the form
`var = (char *)malloc(e);`
for **_e_** being some

[2018-08-02 11:11] supuflounder opened #51 "Confusion, maybe, in config.h"
The Feather HUZZAH ESP32 is not mentioned in the comments as being supported by wifi, although I had not seen this omission and am successfully using wifi with my ESP32 (it is able to connect via my wifi to adafruit.io, but then crashes due to other bugs).

[2018-08-02 13:44] brentru commented on #51
I added ESP32-compatable examples earlier this summer, didn't see the config.h. I'll update config.h to reflect this change. Thanks!

[2018-08-02 15:43] brentru commented on #51
Feather Huzzah32 and product page link has been added `config.h` files, applied globally to `/examples`.

[2018-08-02 15:43] #51 closed

[2018-08-02 20:30] brentru commented on #48
Thanks @supuflounder! I'm addressing some of these in #52 (the ones specifically regarding Adafruit_IO_Arduino)

[2018-08-03 20:57] labomat opened #53 "Sketch not compiling after library upgrade"
After updating the library to v 2.7.11 I got multiple compilation errors with my sketch:

Full sketch code: https://github.com/labomat/Pflanzenwaechter/blob/devel/Feuchtesensor_IoT.ino

- Arduino board:  Wemos D1 Mini

- Arduino IDE version (found in Arduino -> About Arduino menu):  1.8.5

- List the steps to reproduce the problem below (if possible attach a sketch or
  copy the sketch code in too

[2018-08-03 21:00] brentru commented on #53
Hi @labomat! 2.7.11 should have patched the mapblock problem, I'll look into this.

[2018-08-03 21:15] brentru commented on #53
Release 2.7.12 patches this issue. I'm leaving this open until the library manager picks it up and I verify it's patched.

[2018-08-03 21:30] labomat commented on #53
The patch removed the first error but not the second.

[2018-08-03 21:44] brentru commented on #53
Weird, my compiler didn't register that error until I did an application restart.

Staging branch for this error: https://github.com/adafruit/Adafruit_IO_Arduino/tree/map-props-patch

[2018-08-03 21:50] brentru commented on #53
Ok, patched/pulled in/released. Let me know if you're continuing to have issues.

[2018-08-03 23:59] supuflounder commented on #51
Thanks.  Glad I can be a contributor.
       joe

[2018-08-04 06:51] labomat commented on #53
Looks good - thanks for your help!

[2018-08-05 11:25] supuflounder opened #56 "Possible fatal error in library"
I found the following code in AdafruitIO_Data.cpp
[code]
This makes no sense.  The **"0x"** will be placed in the const area (flash memory) of the processor.  It is a fixed constant string.  It makes no sense to concatenate anything to this.  In the unlikely case that the **"0x"** was placed in RAM, there is no control of where it is or what follows it, and therefore random data will be clobbered.

[2018-08-06 22:54] jkuhlm opened #57 "Update Library to work with WifiManager"
With the current library the WiFi SSID and password need to defined.  It would be nice if Adafruit IO would work with WifiManager to fix this issue.  Thanks

[2018-08-08 13:44] brentru commented on #53
@labomat  Happy to help.

Closing....

[2018-08-08 13:44] #53 closed

[2018-08-09 14:23] brentru commented on #47
Latest release supports feed sharing. Examples: https://github.com/adafruit/Adafruit_IO_Arduino/blob/master/examples/adafruitio_20_shared_feed_write/adafruitio_20_shared_feed_write.ino

[2018-08-09 14:23] #47 closed

[2018-08-09 14:29] brentru commented on #56
@supuflounder  Yeah, I was skimming over this yesterday while I was implementing these helpers in io-python-client and thought it was strange.

I'm like your subroutine approach, I'll work on an implementation later today, make a PR, and tag you for review if that's ok?

Thank you for your continued eagle-eye'd dissection of this library.

[2018-08-10 14:23] brentru opened #58 "Add debug hook to trace feeds"
Add virtual method to trace feeds

Proposed Method:
[code]
Implementation
[code]

[2018-08-13 19:00] brentru commented on #56
Patched in latest release, `2.7.14`: https://github.com/adafruit/Adafruit_IO_Arduino/releases/tag/2.7.14

[2018-08-13 19:00] #56 closed

[2018-08-17 15:30] brentru commented on #57
This issue is being actively developed in feature branch: https://github.com/adafruit/Adafruit_IO_Arduino/tree/dev-wifi-ap

[2018-08-17 20:31] brentru commented on #48
Addressed the rest of these in https://github.com/adafruit/Adafruit_MQTT_Library/pull/127. Closing...

[2018-08-17 20:31] #48 closed

[2018-08-21 22:42] jkuhlm commented on #57
Good news, thanks.

[2018-08-23 04:51] supuflounder opened #62 "Error in Arduino_feed.cpp"
This is a failure to free the correct object.

In my source, I have lines 41-42 as
`41.  if(_get_pub)`
`42.      delete _pub;`

which should actually delete `_get_pub`.

In general, every C++ implementation I have encountered assumes the argument to delete can be NULL, eliminating the need for the test.

I was trying to understand why there is a lastValue operation on a feed, but not a group, and

[2018-08-23 07:11] supuflounder opened #63 "Allocation/deallocation bugs"
In traipsing through the code, I found a few more bugs. This list includes the `delete _get_pub` bug I reported earlier

[code]AdafruitIO_Feed.cpp:    delete _get_pub;    // jmn-bug
AdafruitIO_Group.cpp:    // There is no test to see of _sub and _pub allocations succeeded // jmn-bug
AdafruitIO_Group.cpp:    // If _sub is NULL, the behavior of the remaining method calls    // jmn-bug
AdafruitIO_Gro

[2018-08-23 13:12] brentru commented on #63
Thanks for reporting them and your continued bughunt. I'm going to be doing some library work on Saturday to test/patch.

[2018-08-25 13:47] brentru commented on #62
Group feeds will be receiving a `get` function in the next few weeks.

[2018-08-29 18:14] brentru opened #66 "Handle Toggle Button Default `ON` Better"
Like most Adafruit IO elements, toggle buttons send a string _'ON'_ or _'OFF'_ by default.

Add in support for these default strings to the `toBool` helper function in AIO_A:
https://github.com/adafruit/Adafruit_IO_Arduino/blob/master/src/AdafruitIO_Data.cpp#L243

[2018-08-29 20:15] brentru opened #67 "Add get() to group topics"

[2018-08-30 14:46] brentru commented on #67
Added to master, released in ver 2.7.18, closing...

[2018-08-30 14:46] #67 closed

[2018-12-19 14:47] Ahsan2 opened #72 "onMessage handler triggering randomly (Gmailbox by Adafruit)"
I followed the "Adafruit IO IFTTT Example - Gmailbox" example of the library. The issue is that my onMessage handler keeps on triggering even if I am not receiving any new feed data. It also triggers properly when I do receive data

[2018-12-19 14:53] brentru commented on #72
Can you paste the Serial Monitor output?

Did you follow the setup on the learn guide (https://learn.adafruit.com/gmailbox/adafruit-io-setup) and have a feed named `gmail`?

[2018-12-19 14:59] Ahsan2 commented on #72
yes it is a feed named "gmail".
New line gets printed ("You got a new mail") whenever I receive email.
Note that it does work when I receive a proper email, as well as keeps giving false alarms after every few seconds

[2018-12-19 18:40] brentru commented on #72
I tested this with the latest Adafruit IO library on an Adafruit Feather Huzzah 8266 and I'm unable to reproduce the error you're having.

What board are you using?
Which library version are you using?

[2018-12-19 19:00] Ahsan2 commented on #72
Wemos
Wish I could purchase feather here in my country.
Libraries are all latest. Will give it another try in NodeMCU. Thanks for the response between

[2018-12-19 19:06] brentru commented on #72
You're welcome! The Wemos is not a board officially supported by this library. You might have luck using the Adafruit MQTT library (https://github.com/adafruit/Adafruit_MQTT_Library) with Adafruit IO.

[2018-12-19 19:06] #72 closed

[2019-01-08 19:56] pockemul opened #73 "y to String"
Thank you for opening an issue on an Adafruit Arduino library repository.  To
improve the speed of resolution please review the following guidelines and
common troubleshooting steps below before creating the issue:

- **Do not use GitHub issues for troubleshooting projects and issues.**  Instead use
  the forums at http://forums.adafruit.com to ask questions and troubleshoot why
  something isn't

[2019-01-08 21:52] #73 closed

[2019-01-25 22:09] brentru opened #76 "Decimal precision for sending floats from AVR/SAMD"
The `setValue` function is currently set up to handle decimal precision for floats and doubles, but the precision is only used on ESP8266 targets.

This functionality should also be extended to (and tested on) AVR/SAMD hardware

Float:
https://github.com/adafruit/Adafruit_IO_Arduino/blob/master/src/AdafruitIO_Data.cpp#L179
Double:
https://github.com/adafruit/Adafruit_IO_Arduino/blob/master/src/Ada

[2019-01-28 17:57] brentru commented on #76
Closing, merged into master and added to release.

[2019-01-28 17:57] #76 closed

[2019-02-11 04:49] SConaway opened #79 "Seems broken on ESP8266"
- Arduino board: NodeMCU 1.0 (ESP-12E Module) Board package 2.5.0
- Arduino IDE version (found in Arduino -> About Arduino menu):  1.8.8

-----
1) Open any example sketch
2) switch board to any ESP8266 one
3) compile
4) it errors

----

[code]

[2019-02-11 15:00] brentru commented on #79
Firmware Beta 2.5.0 for the ESP8266 breaks compatibility with ArduinoHttpClient(which is used by Adafruit IO). The Adafruit IO Arduino library is currently unsupported by this beta firmware. You'll want to downgrade the NodeMCU down to board version 2.4.2 (stable) from 2.5.0.

[2019-02-27 01:49] stephenvowell opened #80 "Adafruit IO Servo Example compile error"
The Adafruit_IO Servo example will not compile with out error
using Arduino 1.8.8 and an adafruit huzzah esp8266 , I attempted to compile sample code no changes at all and I get compile error.

here is the code
// Adafruit IO Servo Example
// Adafruit IO Servo Example
// Tutorial Link: https://learn.adafruit.com/adafruit-io-basics-servo
//
// Adafruit invests time and resources providing this open

[2019-02-27 01:58] ladyada commented on #80
@brentru

[2019-02-27 01:59] ladyada commented on #80
@stephenvowell hi stephen, please open up an issue here
https://github.com/arduino-libraries/ArduinoHttpClient/issues
since the error is not in our library and we can't fix it without their help. thanks!

[2019-02-27 02:24] stephenvowell commented on #80
Thanks Just did

[2019-04-15 17:24] brentru commented on #80
Firmware 2.5.0 for the ESP8266 breaks compatibility with ArduinoHttpClient, which is used by Adafruit IO Arduino.

As a workaround, you'll need to downgrade the firmware on the ESP8266 from 2.5.0 to 2.4.2. For information on how to do this, follow these instructions: https://learn.adafruit.com/adafruit-io-basics-esp8266-arduino/arduino-io-library#receiving-an-error-when-compiling-your-sketch

[2019-04-15 17:24] #80 closed

[2019-04-15 17:24] brentru commented on #79
Firmware 2.5.0 for the ESP8266 breaks compatibility with ArduinoHttpClient, which is used by Adafruit IO Arduino.

As a workaround, you'll need to downgrade the firmware on the ESP8266 from 2.5.0 to 2.4.2. For information on how to do this, follow these instructions: https://learn.adafruit.com/adafruit-io-basics-esp8266-arduino/arduino-io-library#receiving-an-error-when-compiling-your-sketch

[2019-04-15 17:24] #79 closed

[2019-04-15 17:37] brentru commented on #16
This has been patched. Closing...

[2019-04-15 17:37] #16 closed

[2019-04-15 21:28] brentru commented on #66
PR was closed, closing...

[2019-04-15 21:28] #66 closed

[2019-04-30 17:50] brentru opened #86 "Add Documentation - doxygen'ifying to this library"
This library should be doxygen-ified to add documentation to this library. I started this with the inclusion of `_AIRLIFT.h`.

[2019-05-08 22:11] brentru opened #87 "Add Weather (Dark Sky)"
* Add DarkSkies integration from IO Plus, subscription based on Weather Identifier

[2019-05-25 04:51] tablatronix commented on #79
Can someone elaborate on this? I cannot get esp8266 to compile no matter what I do.

If i downgrade 2.4.2, and use arduinohttpclient
`error 'class axTLS::WiFiClientSecure' has no member named 'setFingerprint'`

If I use esp8266 staging
`error: cannot allocate an object of abstract type 'HttpClient'`

[2019-05-28 13:58] brentru commented on #79
@tablatronix: Are you using an ESP8266 running a stable release of ESP8266 BSP 2.5.1 or higher? I just reinstalled the dependencies and couldn't replicate this compilation error.

[2019-05-28 17:45] tablatronix commented on #79
I was using PIO latest, seems to be 2.5.2

[2019-05-28 17:57] tablatronix commented on #79
I reinstalled all latest stable of everything and it works! I must have had some non stable version of something.

[2019-06-03 01:13] sabas1080 opened #90 "WIFININA and AirLift standar pins"
Why not maintain the NINA pin name standard?

I've been handling the examples with MKR1010 and Arduino WIFi Rev and I had to make changes

SPIWIFI_ACK -> NINA_ACK
ESP32_RESETN -> NINA_RESETN
ESP32_GPIO0 -> NINA_GPIO0

Work for me

[code]
Thanks!

[2019-06-03 14:21] brentru commented on #90
@sabas1080 This library was tested with Adafruit's airlift hardware using our fork of nina-fw (https://github.com/adafruit/nina-fw).

We could add a `#define` for the NINA pin standard. Which nina-fw are you running on the ESP32? The `_airlift.h` file implements `setPins()` which is part of the adafruit nina-fw fork and may need to be excluded for MKR/WiFi rev.

[2019-06-03 16:25] ladyada commented on #90
im cool with using NINA naming. the reason we didnt is because NINA is the trademark name of the module from uBlox and we're using a generic ESP32! i dont want people to get confused

[2019-06-10 12:28] WieFel opened #91 "Example compiling error: Must define USE_AIRLIFT or USE_WINC1500 before including this file."
- Arduino board:  **Adafruit Feather M0**

- Arduino IDE version (found in Arduino -> About Arduino menu):  **1.8.9**

- List the steps to reproduce the problem below (if possible attach a sketch or
  copy the sketch code in too):
I am trying to compile the example **adafruitio_02_pubsub** for my board. I opened the example project using the Arduino IDE.
The only things I modified were the `IO_USE

[2019-06-10 18:11] brentru commented on #91
@WieFel  Uncomment  the `#define USE_WINC1500` at the top of your `config.h` file. (see here: https://github.com/adafruit/Adafruit_IO_Arduino/blob/master/examples/adafruitio_02_pubsub/config.h#L27)

Are you using a Feather M0 + a WINC 1500 breakout?
Or are you using the Adafruit Feather M0 WiFi (integrated Winc1500 module)?

If you're using the M0 WiFi, you do not need to perform the `WiFi.setPins

[2019-06-11 10:07] WieFel commented on #91
Thanks, uncommenting `#define USE_WINC1500` and removing the `WiFi.setPins` call solved the problem!

[2019-06-11 13:34] #91 closed

[2019-06-19 22:22] brentru commented on #90
@sabas1080  @ladyada  I'll add this to AIOA tomorrow. I'll need to add a `#define` for `NINA_ACK` into the variant for the AirLift Metro M4 along with a few other boards first. (https://github.com/adafruit/ArduinoCore-samd/blob/master/variants/metro_m4_airlift/variant.h#L131).

[2019-07-23 04:24] gitToad opened #93 "integrating basic OTA functionality into AdafruitIO_Wifi"
Per brubell suggestion, placeholder for discussion around **integrating basic OTA functionality into AdafruitIO_Wifi** for ESP32, ESP8266 and friends.

see also https://forums.adafruit.com/viewtopic.php?f=56&t=154328

I have previously worked with somewhat Arduino compatible boards from Particle and really liked the ability to update software over the air (ie without having to be physically tether

[2019-07-23 13:48] brentru commented on #90
Merged into `master` and released.

[2019-07-23 13:48] #90 closed

[2019-07-23 16:09] sabas1080 commented on #90
Thanks

[2019-08-08 03:29] slootsky commented on #93
IMO adding OTA to the AdafruitIO libraries is the wrong way to go.  I would prefer to see the AdafruitIO libraries do less, and allowing the programmer to do more with the WiFi object/interface, both while making a connection and after a connection is made.

I have a project where I scan for known wifi networks and then want to do AIO operations.  This currently requires a bit of fudging, rather t

[2019-09-28 01:49] malinges commented on #57
This issue is getting old, but I managed to use the two libraries at the same time by passing `nullptr` to both the `ssid` and `pass` arguments of `AdafruitIO_WiFi` / `AdafruitIO_ESP8266`.

[2019-10-07 21:26] blkirk opened #96 "Calling AdafruitIO without managed network connection?"
Can someone provide an example of how to call AdafruitIO without having it manage your wifi/ethernet connection?  (Assume that I have a connection and it's already up.)

non-working Example:
#include "AdafruitIO.h"
#define IO_USERNAME  "XXXXXX"
#define IO_KEY       "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
AdafruitIO_Ethernet io(IO_USERNAME, IO_KEY);
AdafruitIO_Feed *pina0 = io.feed("limetreea0");
Ada

[2019-10-07 23:33] blkirk commented on #96
This might be the answer, nulls :

#include "AdafruitIO_WiFi.h"
#define IO_USERNAME  "XXXXXX"
#define IO_KEY       "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
AdafruitIO_WiFi io(IO_USERNAME, IO_KEY, **NULL, NULL**);

[2019-10-17 18:58] #96 closed

[2019-10-17 19:02] brentru commented on #43
This has been resolved in the latest ESP32 BSP.

[2019-10-17 19:02] #43 closed

[2019-10-17 19:06] brentru commented on #20
This should be fixed in the latest ESP8266 Arduino library (https://github.com/esp8266/Arduino/issues/4078).

[2019-10-17 19:06] #20 closed

[2019-11-08 21:17] brentru opened #98 "Add board identifier for Uno WiFi Rev2"
AdafruitIO_Board type is currently `unknown` for the Arduino Uno WiFi Rev2. Add support for this board identifier to `_board.cpp`.

Product: https://store.arduino.cc/usa/arduino-uno-wifi-rev2

Relevant code segment(s):
https://github.com/adafruit/Adafruit_IO_Arduino/blob/master/src/util/AdafruitIO_Board.cpp#L57

Note: Support for float formatting was added in PR https://github.com/adafruit/Adafrui

[2019-11-16 15:10] sellensr opened #99 "io.run() hangs if WiFi disconnects"
- Arduino board:  M0 Feather WINC1500 with latest firmware and SSL
- Arduino IDE version: 1.8.10

My sketch has been saving data to Adafruit IO without problems for hours, then stops for no apparent reason. Restart and runs fine again. Hypothesis: WiFi drops connection for some reason. I reproduced that failure mode by explicitly disconnecting the WiFi after the sketch runs for 30 seconds with thi

[2019-11-16 20:32] sellensr commented on #99
So far guarding the io.run() with if(io.status() >= AIO_NET_CONNECTED) and testing for connection has succeeded through 396 forced post / disconnect / io.connect events without failing, so if there's a memory leak, it's not enormous.

[2019-11-17 16:27] sellensr commented on #99
Allowing io.run() to return, even when throttled, before there is an MQTT connection may cause some code to fail if it doesn't check status during the loop.  The likely consequence is making multiple attempts to save data while the MQTT connection is down, while not being aware that it's down. The code would continue to loop, dealing with other business, and then resume saving data once the MQTT c

[2019-12-09 14:25] brentru commented on #99
@sellensr Thanks for taking this issue on, I have a few comments before we move to the PR. Lots of devices run AIOA and I'd like to make sure this change is 100% backwards-compatible with pre-existing code and examples before we merge/release.

Ideally, `io.run` should handle the network re-connection, it would not be handled from user-code. The `save` method might need to be modified to indicate

[2019-12-09 19:00] sellensr commented on #99
Thanks for the feedback! If the target is 100% back compatibility, then we would have to leave mqtt timing out if a network connection has failed, but we could detect the network failure in run() and repair it before calling on mqtt. That would make the timeout issue less likely.

I'm less convinced now about io.disconnect(), as WiFi.disconnect() would appear to be all it would need to do.

I'm no

[2019-12-09 19:26] brentru commented on #99
This is exactly how I'd like it to work if the network connection is dropped.

Keep in mind, this library works with WiFi/Ethernet/FONA hardware too, not just WiFi

[2019-12-09 20:43] sellensr commented on #99
All the example code starts out with io.connect() then explicitly watching io.status() until the connection succeeds, which could take quite a while. It prints dots to let you know it is running. Then it goes on to io.run() in every loop() and just hangs if there is ever a network disconnect. Just as io.connect() returns before the connection succeeds, io.run() should probably return to allow the

[2019-12-10 01:33] sellensr commented on #99
The PR now has what I think is a minimum change to prevent the hanging behaviour. If that's accepted, then we can think about how best to have it repair the connection. I'm wondering about a failFast optional argument set to false by default. It would make things return faster and mean the caller would have to take responsibility for status checking and remediation. It could be passed on to mqttSt

[2019-12-10 14:42] brentru commented on #99
Good idea - lets work on the current PR first and then move on to adding a `disconnect` function next.

[2019-12-12 20:37] brentru opened #101 "Add io.disconnect() function"
Add `io.disconnect()` function to shut down the connection and release any resources.

We support **many** types of network connections with this library (https://github.com/adafruit/Adafruit_IO_Arduino/tree/master/src/wifi). Each WiFi client may require a corresponding `AdafruitIO_HARDWARETYPE::_disconnect()` method, analogous to the `AdafruitIO_HARDWARETYPE::_connect()` method.

Originally sugge

[2019-12-13 23:22] sellensr commented on #101
Does the MQTT client actually need a negotiated disconnect, or does it fail resiliently whenever the hardware connection fails? The tests I did with forced WiFi.disconnect() always seemed to come back just fine with a subsequent call to io.connect().

[2019-12-14 18:08] sellensr opened #102 "Allow SSID determination at runtime"
The current configuration assumes you know the SSID and password at compile time, for inclusion in the config.h file as #defined string constants so you can create e.g.

`AdafruitIO_WiFi io(IO_USERNAME, IO_KEY, WIFI_SSID, WIFI_PASS);`

Once compiled, there's no clearly supported way to connect with a different SSID. The scenario I would like to support is a device that could run in different locat

[2019-12-18 14:16] brentru commented on #99
Patched in `master` and released in `v3.3.0`. @sellensr Thank you for the issue and PR!

[2019-12-22 14:20] #99 closed

[2019-12-22 14:51] sellensr commented on #102
I think I have a simple solution that doesn't alter current functionality. Test strlen(_ssid) in the _connect() function and only perform the wifi connection functionality if the length is non-zero. Any sketch that set the SSID to ""  would have to look after its own wifi connections. Adding a WiFi.disconnect() before the WiFi.begin() would provide a fresh start. Any thoughts?

[2019-12-23 22:44] brentru commented on #101
@sellensr  It might not need a negotiated disconnect, edited issue to reflect.

[2019-12-24 18:56] sellensr commented on #101
I'll add the _disconnect() in my next pr along with the test for non-empty ssid, as it can be part of the same functionality.

[2019-12-27 13:50] brentru commented on #102
Fixed in PR #103 and released in v3.3.1 (https://github.com/adafruit/Adafruit_IO_Arduino/releases/tag/3.3.1).

[2019-12-27 13:50] #102 closed

[2020-01-02 19:52] brentru commented on #101
WiFi disconnect is handled in https://github.com/adafruit/Adafruit_IO_Arduino/pull/104. After that's set, let's open a new PR to add a negotiated mqtt client disconnect and a wifi disconnect, `io.disconnect()`

[2020-01-03 22:52] brentru commented on #101
Fixed in #104, closing...

[2020-01-03 22:52] #101 closed

[2020-01-10 20:13] brentru opened #106 "Replace endRequest with beginBody"
Check if newer `beginBody` method exists in [ArduinoHTTPClient](https://github.com/arduino-libraries/ArduinoHttpClient). Replace `endRequest` and test on hardware targets.

https://github.com/adafruit/Adafruit_IO_Arduino/blob/master/src/AdafruitIO_Group.cpp#L322
[code]

[2020-01-22 17:57] brentru commented on #86
Resolved in `v3.4.0`.

https://github.com/adafruit/Adafruit_IO_Arduino/releases/tag/3.4.0

[2020-01-22 17:57] #86 closed

[2020-01-28 02:39] jaime-mantilla commented on #57
Hi, any opportunity to change SSID and Password on the fly instead of using constants?

[2020-01-28 02:43] jaime-mantilla opened #109 "Update library for dynamic SSID, PWD"
Hi. any chance to dynamically assign SSID and password? Should I change location (different network) or router password I need to recompile my code.

[2020-01-28 11:34] wekiva commented on #57
Maybe not ideal, but I think there’s a version of WiFimanager where you can put it in AP mode by pushing a button , then you could enter your new credentials .
For Adafruit_WiFi io(IO_USERNAME, IO_KEY, WIFI_SSID, WIFI_PASS) , change WIFI_SSID and WIFI_PASS to nullptr

[2020-02-11 15:38] brentru opened #110 "Add _disconnect for Ethernet FeatherWing"
https://forums.adafruit.com/viewtopic.php?f=56&t=161894

[code]

[2020-02-26 02:33] ryleymcc opened #111 "Example causes crash on esp32"
Hello all, I'm using an esp32 feather huzzah from adafruit. I'm trying to run one of the examples called "group_sub" but I'm getting repeated crashes on all my esp32's. The other examples  I've tested work fine. It seems to be something going on with the group message handler as every other example works? In the code I'm running I haven't even entered my wifi credential or adafruit io info but it

[2020-02-26 13:44] brentru commented on #111
Please try installing the ESP32 stack trace decoder, and pasting the output from there:
https://github.com/me-no-dev/EspExceptionDecoder

That will help tell us where it's getting stuck.

[2020-02-26 13:47] brentru commented on #109
As of now, Adafruit IO Arduino has no way to set the SSID/password over-the-air. We have an issue for this here: https://github.com/adafruit/Adafruit_IO_Arduino/issues/93

[2020-02-26 13:47] #109 closed

[2020-02-29 00:58] ryleymcc commented on #111
Here is the output.

PC: 0x400d1dc4: AdafruitIO_Group::onMessage(char const*, void (*)(AdafruitIO_Data*)) at C:\Users\Ryley\Documents\Arduino\libraries\Adafruit_IO_Arduino\src\AdafruitIO_Group.cpp line 317
EXCVADDR: 0xfefefefe

Decoding stack results
0x400d1dc4: AdafruitIO_Group::onMessage(char const*, void (*)(AdafruitIO_Data*)) at C:\Users\Ryley\Documents\Arduino\libraries\Adafruit_IO_Arduino\sr

[2020-03-26 05:33] brucecolley opened #112 "IO Basics - Digital Out Example - Compile Error"
[https://forums.adafruit.com/viewtopic.php?f=56&t=163456](url)

This issue appears to have similarities to issue: Add _disconnect for Ethernet FeatherWing #110

[2020-03-26 06:05] brucecolley commented on #112
The above link doesn't seem to work. Retry:
https://forums.adafruit.com/viewtopic.php?f=56&t=163456

[2020-03-31 18:27] jazzlw commented on #99
I've been having a problem like this on my build but I'm on AIOA 3.4.0, so it seems like this problem should be fixed.  Otherwise it's very similar though. Runs for hours before suddenly dropping off and not coming back. With reset it reconnects and continues happily.

Any Ideas on what might be still causing it or what to try fixing?

Also, I tried the phone hotspot disconnect and reconnect test

[2020-03-31 18:36] sellensr commented on #99
Your sketch may still need to detect the failure return code and make the reconnection.

[2020-03-31 18:39] jazzlw commented on #99
Thanks for the tip @sellensr, could you be more specific though? I was under the impression from reading these that it should automatically reconnect if it's not connected during the io.run() call?

[2020-03-31 19:34] sellensr commented on #99
[code]
This is code I was using in my loop() to detect a failure and go back to re-run io.connect. You could try something similar to locate what is causing your problem and find out if io.run() is returning. If io.run() is returning, check the value of the status code it is returning. It will try to reconnect, but may timeout on the attempt around line 300 in AdafruitIO.cpp if it is not immediate

[2020-04-03 00:32] kintel opened #113 "Wrong logic for initializing _err_sub and _throttle_sub"
See this code fragment:
https://github.com/adafruit/Adafruit_IO_Arduino/blob/e2b69fdee825a432c29cf140fdb92ba3a4ea02f7/src/AdafruitIO.cpp#L154-L159

`_err_sub` is only initialized if it's non-NULL, which is the opposite of what I'd expect.
Same for `_throttle_sub`.

As an aside, this will never actually be executed, as both are initialized to `0`.
It doesn't look like this is the intended behavior

[2020-04-11 03:06] zencow opened #114 "Example adafruitio_11_group_pub causes crash on Huzzah32"
Hi...

I attempted troubleshooting on the discord server about this, but upon looking further, I found that the error applies to the stock example as well as my more complex and messy code.  ;)

I used a plain Huzzah32 Feather connected only to an Adafruit Lipo and the USB connection to my computer for programming with the Arduino tools.

- Arduino board:  **Adafruit HUZZAH32 – ESP32 Feather Board

[2020-04-11 03:11] zencow commented on #114
It should be worth noting that the Group and Feeds were created automatically and a "0" was published for each Feed on each reboot of the device.  The program always crashed during the 2nd call to io.run() before it got the chance to publish any incremented values.

[2020-04-15 16:21] brentru commented on #114
Second stack trace for group pub, from the forums: https://forums.adafruit.com/viewtopic.php?f=56&t=164450

[2020-04-18 15:09] brentru commented on #114
Same error on HUZZAH32 w/example group sub and group pub:

[code]

decoded stack trace
[code]

[2020-04-18 17:22] brentru commented on #114
@zencow This is the same error as https://github.com/adafruit/Adafruit_IO_Arduino/issues/111 and I didn't understand why this was crashing until I looked at the group subscription sketch closely.

The comparison `if (strcmp(cur_cb->feed, d->feedName()) == 0 || cur_cb->feed == NULL{` fails due to the callback attempting to obtain the feed's name (`cur_cb->feed`) because the `_groupCallback ` callba

[2020-04-21 14:09] bborncr commented on #114
I tested the patch at "Fix ESP32 Groups Crash #115" and it worked for me. No more crashes.

[2020-04-21 14:53] #114 closed

[2020-04-21 14:53] brentru commented on #111
Fixed in #115.

[2020-04-21 14:53] #111 closed

[2020-04-21 22:12] zencow commented on #114
I got the latest library update (v 3.5.0) from the Arduino IDE and it ran 10 cycles before I killed it.  ;)  Kudos!

[2020-04-27 02:54] blaskovicz opened #116 "Doxygen Docs Missing"
On the main page of the doxygen docs, I see no available classes, docs, etc, only the doxygen header.

http://adafruit.github.io/Adafruit_IO_Arduino/html/index.html

[2020-04-28 06:33] siddacious commented on #116
Strange! I'll take a look, thanks for the heads up

[2020-04-29 15:10] brentru commented on #116
@siddacious

Looks like the Action says it's uploading code.. https://github.com/adafruit/Adafruit_IO_Arduino/runs/618318416?check_suite_focus=true#step:7:13

but the `GH-Pages` branch looks like it hasn't been updated by actions since Jan: https://github.com/adafruit/Adafruit_IO_Arduino/tree/gh-pages

Maybe this occurred when we switched from travis->actions?

[2020-04-29 20:33] siddacious commented on #116
@brentru I just tested and found that what's up is representative of what Doxygen is currently generating. I started a branch here:
https://github.com/adafruit/Adafruit_IO_Arduino/tree/docs_fix

If you can, please look into what's happening. Assign this back to me if you need me to take over.

[2020-05-06 12:52] dherrada opened #117 "Doxygen index page is blank"
Looks like there's already been some discussion of this issue in #116

[2020-05-24 20:23] blaskovicz opened #119 "Incorrect handling of data->feedName() when feed has group"
Thank you for providing this excellent data warehouse and associated apis!

I found that when using a feed scoped to a group that's longer than the [20 character limit](https://github.com/adafruit/Adafruit_IO_Arduino/blob/ce83ba999056639728de655fbad49bfb4c935cfd/src/AdafruitIO_Definitions.h#L127), the `feedName()` function call overflows incorrectly into the data.

- Arduino board:  NodeMCU 1.0 ES

[2020-05-25 00:12] blaskovicz commented on #119
I just looked on the adafruit.io site and it seems like this should be 128.128, max; so 258 (257 + \0). Does that sound right?

[2020-05-26 14:13] brentru commented on #119
@blaskovicz  This looks right, thanks for filing the issue. Would you want to create a pull request for this issue?

[2020-05-26 14:14] blaskovicz commented on #119
Does the max csv length need to get updated as well https://github.com/adafruit/Adafruit_IO_Arduino/blob/ce83ba999056639728de655fbad49bfb4c935cfd/src/AdafruitIO_Definitions.h#L130?

[2020-05-26 14:22] brentru commented on #119
Not sure, I'd need to dig further into this and may by the end-of-week, may be worth taking a sep. issue out for the CSV length.

[2020-05-30 21:06] phord opened #120 "Huzzah esp8266 crash when subscribing to group without specified feed"
Huzzah board crashes if I try to subscribe to a group without providing a feedname.  For example, I changed this line in adafruitio_12_group_sub.ino:

    -  group->onMessage("count-2", two);
    +  group->onMessage(two);

When run, the app crashes.  It works if I subscribe to individual feeds by name, though.

      Exception 28: LoadProhibited: A load referenced a page mapped with an attribute t

[2020-06-02 14:44] #120 closed

[2020-06-05 22:30] phord opened #122 "Group data is never cleared"
I have some code like this where I have a single AdafruitIO_Group object that I use to interact with a feed group.

    AdafruitIO_WiFi io(IO_USERNAME, IO_KEY, WIFI_SSID, WIFI_PASS);
    AdafruitIO_Group *grp = io.group("mygroup");

    void setup() {
      grp->onMessage(handleMessage);
      grp->set("FOREVER", "never-comes");
      grp->save();
    }

    void loop() {
      if (something_happe

[2020-06-05 22:33] phord opened #123 "Feed names' case-sensitive during publish"
The docs say the feednames are case-insensitive, but the code in AdafruitIO_Group::getFeed searches for the feednames using case-sensitive strcmp.  This means I could get unexpected results if I publish to "FOO" and to "foo" in the same message.  This weird different-case scenario also happens if IO messages are showing up in my group feed as in #122 as well.

[2020-06-06 00:32] siddacious commented on #117
I'm going to close this as a duplicate of #116

[2020-06-06 00:32] #117 closed

[2020-06-07 00:04] phord commented on #123
After reading [this article about naming things](https://io.adafruit.com/blog/tips/2016/07/14/naming-feeds/) I can see I am confusing feed names and feed keys.

Maybe my real problem is just that #122 is causing my Group data list to be populated with key-names where I am expecting feed-names.

Let me close this while I try to sort out what's really expected here.

[2020-06-07 00:04] #123 closed

[2020-06-08 15:02] brentru commented on #110
Saw this again here: https://forums.adafruit.com/viewtopic.php?f=56&t=166196

Looking into it.

[2020-06-08 16:21] #110 closed

[2020-06-12 15:11] andrewwatson commented on #116
was just about to submit an issue for this but it's already here!

[2020-06-29 18:14] siddacious commented on #116
@brentru Have you been able to take a look at this?

[2020-06-29 18:17] brentru commented on #116
@siddacious  No, I haven't looked at it yet. I can take a closer look at it on Friday this week.

[2020-07-03 21:59] blaskovicz opened #127 "Does the max csv length need to get updated as well?"
Does the max csv length need to get updated as well, as a follow up to #119 and #126  https://github.com/adafruit/Adafruit_IO_Arduino/blob/ce83ba999056639728de655fbad49bfb4c935cfd/src/AdafruitIO_Definitions.h#L130?

_Originally posted by @blaskovicz in https://github.com/adafruit/Adafruit_IO_Arduino/issues/119#issuecomment-634052324_

[2020-07-06 13:36] brentru commented on #127
@blaskovicz  Yes - this should be updated too. Keep in mind that the max length of CSV feeds is 4 characters larger than the max length of general IO feeds. i.e: `mosfet/feeds/photocell-one/csv` instead of `mosfet/feeds/photocell-one`

[2020-07-06 15:02] blaskovicz commented on #127
I can add that in the same PR, thanks!

[2020-07-06 18:07] #116 closed

[2020-07-31 12:00] Opiron opened #131 "MQTT Library Issues"
Hello Adafruit,
I have an Arduino Uno Wifi Rev.2 and I am trying to use your MQTT Library for posting data to Adafruit IO. Library version is 1.3.0.
Problems I have when I try to compile:

Arduino:1.8.13 (Windows 10), Tarjeta:"Arduino Uno WiFi Rev2, None (ATMEGA4809)"

In file included from C:\Users\xxx\Documents\Arduino\libraries\Adafruit_MQTT_Library\Adafruit_MQTT.h:25:0,

from C:\Users\xxx\Docu

[2020-08-12 13:59] ptbw opened #132 "Expose void WiFi.setLEDs through AdafruitIO_AIRLIFT"
[Enhancement request] Expose void WiFi.setLEDs through AdafruitIO_AIRLIFT

Expose the WiFi.setLEDs method to allow simple access to the RGB LED on the Feather AirLift ie:

[code]

[2020-08-12 14:27] ladyada commented on #132
@ptbw can you please submit a PR? that way we can more quickly test/approve :)

[2020-08-12 17:04] brentru commented on #132
@ptbw  This could be useful - what are you hoping for with this request? As it stands, this snippet asks for LEDs to be exposed at the network interface level.

Do you want the LEDs to be changed when Adafruit IO library functions are executed (red for unable to connect, blink when new packets are received?)?

[2020-08-12 21:22] ptbw commented on #132
@brentru I was looking for an easy way to access the LED on the AirLift feather wing via the AdafruitIO_AIRLIFT class as it was available in the WiFi class, to do exactly what you are suggesting and surprised it was not available to in the inheritor.  I will create a pull request.

[2020-08-12 21:27] brentru commented on #132
@ptbw  Sounds good, do make sure that it's only valid for the Airlift co-processor (we detect this in _WiFi.h). This library uses other network interface types which do not necessarily have the functionality of the WiFiNINA classes

[2020-08-13 12:57] ptbw commented on #132
@brentru  You did warn me but how do I reproduce the CI build tests on my Ubuntu machine, so I can avoid issues in future as just manipulating the config.h file is clearly not enough or changing the board type in the Arduino IDE?

[2020-08-13 13:02] brentru commented on #132
Doxygen: https://learn.adafruit.com/the-well-automated-arduino-library/doxygen

For clang, the formatting script is within https://github.com/adafruit/ci-arduino

[2020-08-17 15:09] brentru commented on #132
Released, https://github.com/adafruit/Adafruit_IO_Arduino/releases/tag/3.8.0, closing

[2020-08-17 15:09] #132 closed

[2020-09-06 18:26] BioSLuDge opened #134 "including AdafruitIO_FONA.h causes build issues"
- Arduino board:  Adafruit FONA feather

- Arduino IDE version:  1.8.13

- List the steps to reproduce the problem below (if possible attach a sketch or
  copy the sketch code in too): Just try to build any Adafruit IO sketch with AdafruitIO_FONA.h, it will fail to build because the FONA library doesn't implement the _disconnect method which is required to fully implemented by the base AdafruitIO

[2020-09-09 15:36] brentru commented on #134
@BioSLuDge  Hi, added a draft PR which fixes this build error and disables the GPRS module.

https://github.com/adafruit/Adafruit_IO_Arduino/pull/135

[2020-09-23 16:44] #134 closed

[2020-09-23 17:04] #119 closed

[2020-09-23 17:04] #127 closed

[2020-11-21 15:57] HannesZei opened #141 "getting data unreliable if datapoint is large"
- Arduino board:  ESP32 from AZ-Delivery

- Arduino IDE version (found in Arduino -> About Arduino menu):  1.8.13 (or/and plattform io)

- List the steps to reproduce the problem below (if possible attach a sketch or
  copy the sketch code in too):
Simple Sketch that inits a connection subscribes to a topic and requests that with feed->get() or gets the last data with feed->lastValue()
If you ente

[2020-11-23 14:38] brentru commented on #141
Could you try increasing the `MAXBUFFERSIZE` in the Adafruit_MQTT_Library on your computer?

https://github.com/adafruit/Adafruit_MQTT_Library/blob/master/Adafruit_MQTT.h#L110

[2020-11-23 19:45] Weather411 opened #142 "Max Feeds per Group AIO Arduino"
--- PREVIOUSLY STATED ISSUE ON ADAFRUIT FORUM: https://forums.adafruit.com/viewtopic.php?f=56&t=172069 ---
--- ADMIN REQUESTED THIS ISSUE BE POSTED HERE ---

Scoured the forum and I don't see this issue previously addressed. I've tried the same code on ESP8266 and ESP32, both show board stack errors/board resets in the Serial Monitor when I write data to more than 7 feeds to 1 group at one time. W

[2020-11-24 17:39] HannesZei commented on #141
Thanks you. Unfortunately it did not resolve my problem.
Since the problem does also occur if i use lastValue which uses http (as far as i can tell) i suppose it is a common problem.
I checked with http. It works if i manually enter the query in the browser as per the api. So currently i wrote my costume http implementation which does work, so it shows it schould be possible.
I did look into the p

[2020-11-25 14:14] brentru commented on #141
What issues are you getting with your SSL certs?

[2020-11-25 19:00] HannesZei commented on #141
I get An invalid SSL record was received. But i think that is an issue on my side. (This mentioned something similar although it did not resolve my problem: https://github.com/espressif/arduino-esp32/issues/2733#issuecomment-625814342)  I have trouble locating the specific code that causes the issue however since the issue will not occur always and most of the times no issue will arise but the nex

[2020-12-21 15:27] brentru commented on #87
Dark sky was purchased by Apple and their API's EOL is in 2021. Closing this until we have a new weather service provider.

[2020-12-21 15:27] #87 closed

[2020-12-21 15:28] ladyada commented on #87
tragic, we'll use openweathermap for weather projects for now

[2020-12-24 16:32] markvanpraet opened #144 "One of two feeds not initializing on get() during setup"
- Arduino board:  NodeMCU-ESP8266
- Arduino IDE version: 1.8.13

I have 2 feeds that I've set up to contain threshold values used in the sketch. During execution, when updated through io.adafruit.com, they are each handled properly. However, during setup, when I attempt to get() each of these values, only one triggers the retrieval of the latest value (photoresistorthreshold). The other (temperatu

[2020-12-27 21:18] Michael-Equi opened #145 "Support for different QOS settings"
Are there currently any plans to provide easy access to the MQTT QOS settings through this library such as in https://github.com/adafruit/Adafruit_MQTT_Library? Thanks

[2020-12-28 14:12] brentru commented on #145
@Michael-Equi I could add an argument to the feed publish functions. Something like `counter->save(count, 1);`

However, the Adafruit IO MQTT API supports QoS level 0 (at most once) and 1 (at least once) only.

[2021-01-07 00:59] OilSlick opened #146 "Max feed count per sketch"
- Arduino board: **Adafruit Feather HUZZAH with ESP8266**

- Arduino IDE version (found in Arduino -> About Arduino menu):  **1.8.13**

- List the steps to reproduce the problem below (if possible attach a sketch or
  copy the sketch code in too):

**Configure 20+ AdafruitIO_Feeds**. I'm not sure if there is any correlation between the number of feeds configured for sub vs pub vs pub/sub.

The num

[2021-01-13 22:25] brentru commented on #146
@OilSlick  I was able to reproduce this on my end. It seems like declaring < 20 feeds does not cause this issue. Also the ESP32 does not have this issue, if you have one.

This looks to be an issue within the ESP8266's board package's SSL module, BearSSL. It looks like an allocation failure occurs within BearSSL (similar to https://github.com/esp8266/Arduino/issues/5815) when you allocate over 19

[2021-01-13 22:36] brentru commented on #144
I am not able to replicate this issue on my end with a Feather Huzzah ESP8266. I'm able to get() the retained values of three feeds during setup.

[code]

Could you try updating the board support package for ESP8266? Is there anything else I could try?

[2021-01-14 08:05] OilSlick commented on #146
Thank you for the update.

[2021-01-14 13:04] markvanpraet commented on #144
I believe the issue can be explained by a corrupt feed. After recreating a new feed the issue disappeared. The suspect feed's JSON was saved in an earlier post on this thread, but I have since deleted the feed. My problem can be considered resolved, but if anyone wants to dig deeper, they are welcome to. Thanks for following up though!

[2021-01-14 13:04] #144 closed

[2021-02-20 12:15] pete-thompson opened #147 "Buffer overrun on large data in feed save?"
Thank you for opening an issue on an Adafruit Arduino library repository.  To
improve the speed of resolution please review the following guidelines and
common troubleshooting steps below before creating the issue:

- **Do not use GitHub issues for troubleshooting projects and issues.**  Instead use
  the forums at http://forums.adafruit.com to ask questions and troubleshoot why
  something isn't

[2021-02-22 14:24] brentru commented on #147
Do these odd values for lat/long show up on the feed's feed page on io.adafruit.com?

[2021-02-23 12:38] pete-thompson commented on #147
Yes, the values show in the feed. I can't find the specific values just now, but they were huge numbers that clearly weren't valid.

[2021-02-24 16:03] brentru commented on #147
Could you file an issue at io.adafruit.com/support so we can take a look? Please include the name of the feed where this appeared.

[2021-02-26 04:09] ligantx opened #148 "ESP32, where are TLS connection (WiFiSecure) CA certificate?"
- Arduino board:  **ESP32**

- Arduino IDE version (found in Arduino -> About Arduino menu):  **1.8.13**

Although I see ESP8266 have a fingerprint in order to connect with TLS credentials, i have search all code and libraries included, but i cannot find CA certificate for ESP32 secured connection to AdafruitIO.
WiFisecure example of ESP32, has CA certificate hardcoded, but in adafruit's example (

[2021-03-17 19:58] LaurieNZ opened #149 "mac address in AdafruitIO_ethernet.h appears to be hardcoded"
I am using the Adafruit IO Arduino API example code, and trying to set the mac for my ethernet featherwing. It seems to be hardcoded in AdafruitIO_Ethernet.h to use the deadbeeffeed mac address. If I edit the hard coded one with mine, it works. (see below). The AdafruitIO_Ethernet.h file replaces the standard Ethernet.h to give the AdafruitIO support required. I can change the mac address using th

[2021-05-03 22:07] hpssjellis opened #150 "Feature request: mqtt for aruino portenta mbed series"
Feature request: mqtt for aruino portenta mbed series.

The Adafruit.io dashboard works really well on the Helium LoRaWan network with the LoRa Portenta Vision shields, but  does not presently work with WiFi or Ethernet. Hopefully the Arduino MBEd boards can be included with s basic example.

[2021-05-04 16:39] ladyada commented on #150
hiya this would be best to ask arduino to add support for mqtt since they have a library they wrote!

[2021-05-04 20:23] hpssjellis commented on #150
@ladyada Thanks for the reply. I now have found the arduino library '''#include <ArduinoMqttClient.h>'''  and it seems to basically work. The Adafruit MQTT dashboard is very good. You people do very good work. Thank you for doing that and making it public. I need to promote Adafruit more. Look for my tweets from @rocksetta.

[2021-05-04 20:23] #150 closed

[2021-05-04 20:25] ladyada commented on #150
nice!

[2021-05-07 00:29] caternuson opened #151 "Support HW serial in FONA?"
Re this thread:
https://forums.adafruit.com/viewtopic.php?f=56&t=178979

[2021-05-07 13:14] brentru commented on #151
We'd accept a pull request supporting hardware serial in FONA, for now, I'd recommend using the software serial. Added a "help wanted" tag for now.

[2021-11-17 17:58] zzcrow opened #154 "Teensy 4.1 with airlift does not compile anymore..."
I am trying to use airlift with teensy 4.1, does not compile right anymore for some reason. I went to adafruit forum and they told me to fill out an issue here.

Error log:

[log.txt](https://github.com/adafruit/Adafruit_IO_Arduino/files/7556874/log.txt)

[2021-11-17 18:01] ladyada commented on #154
where is HttpClient.cpp from?

[2021-11-17 18:19] zzcrow commented on #154
I downloaded it from the library manager in arduino

    On Wednesday, November 17, 2021, 10:02:07 AM PST, ladyada ***@***.***> wrote:

where is HttpClient.cpp from?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-11-17 18:21] ladyada commented on #154
that isnt in this library so it does not seem to have anything to do in this repository. please post in the teensy forums, they will be able to help!

[2021-11-30 08:32] TomWaterz commented on #57
Did anyone get this to work? When I set WIFI_SSID AND WIFI_PASS to nullptr my esp32 reboots and sets WifiManager back into AP mode.

[code]

[2022-02-26 22:20] bradrblack commented on #57
This really needs to be fixed in the official library.  Hard coding the SSID and KEY are fine for simple example and demo projects but not something you might want to share with others.  I hacked around this as follows...

To allow wifimanager to handle the network connection and prevent Adafruit IO from conflicting the following lines were removed from the AdafruitIO_Wifi.cpp file...

also the cl

[2022-04-21 18:04] dchatzin opened #156 "[Connect to Adafruit IO from an open wifi network (no password)]"
- Arduino board:  **Adafruit HUZZAH32 – ESP32 Feather Board**

- Arduino IDE version (found in Arduino -> About Arduino menu):  **2.0.0-rc6**

Hi All,

The problem that I am facing has to do with wifi connection issues. More specifically, I am in an educational institute, and I want to use the "open" network, that is the network that requires no password. Although I am able to connect to the wifi

[2022-08-08 10:38] DanielGernert opened #157 "will there be Pi Pico W support?"
Hey guys, do you plan to add the Pi Pico W to the list of supported boards?
I saw some posts about using it woth MicroPython but  would love to use the board with it's Arduino integration:
https://github.com/earlephilhower/arduino-pico

[2022-08-08 15:34] brentru commented on #157
There are no current plans/ETA for this library. It will likely get added once we add it into the Adafruit.IO WipperSnapper library first (https://github.com/adafruit/Adafruit_Wippersnapper_Arduino/issues/280). You may want to subscribe that issue for updates!

[2022-08-15 22:30] bradrblack commented on #57
I found a better way to fix this.  The hack I mention above removes the existing functionality which is not good.  So instead, I overloaded the AdafruitIO_WiFi function so that it supports usage with SSSD+password and without.  For example in AdafruitIO_ESP8266.h the prototypes look like this...

public:
  AdafruitIO_ESP8266(const char *user, const char *key, const char *ssid,

[2022-08-16 15:03] brentru commented on #57
@bradrblack If you want to checkout a PR with your changes to the existing, I'll gladly look it over.

[2022-08-18 00:52] bradrblack commented on #57
PR #160 submitted.

[2022-08-30 20:26] brentru commented on #57
Closing via https://github.com/adafruit/Adafruit_IO_Arduino/pull/161

[2022-08-31 13:43] bradrblack commented on #156
You could try connecting to the WiFi as you do with wifi_connect and then initialize with ...

AdafruitIO_WiFi io(IO_USERNAME, IO_KEY, "", "");

which prevents AIO from connecting to the network on its own.

There are some new examples in the 4.2.3 library about working with WiFiManager that also do this.